* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container1 {
	width: 1026px;
	margin: 0 auto;
	position: relative;
	margin-top: 50px;
}

	.main:after {
		clear: both;
		content: "";
		display: table;
	}

	.main li {
		width: 55px;
		height: 65px;
		border: 1px solid black;
		position: relative;
		float: left;
		padding: 20px 2px 0 2px;
		margin: 1px;
		cursor: pointer;
		overflow: hidden;
		
	}

	.main li span {
		display: block;
		line-height: 1;
		font-size: 9px;
		padding-top: 7px;
	}

	.main .empty {
		border: none;
		cursor: default;
		box-shadow: none;
	}

	.deactivate {
		opacity: 0.5;
		-webkit-filter:grayscale(70%);
  		filter:grayscale(70%);
	}

	.main li:before, .main li:after {
		content: attr(data-pos);
		position: absolute;
		top: 3px;
		left: 3px;
		font-size: 8px;
		line-height: 1;
	}

	.main li:after {
		content: attr(data-nb);
		left: auto;
		right: 3px;
	}

	.main li:hover {
		transform: scale(2);
		-moz-transform:scale(2); 
		-webkit-transform:scale(2);
		-o-transform:scale(2);
		z-index: 100;
		box-shadow: 0 0 50px black;
	}

	.main .empty:hover {
		box-shadow: none;
		transform: none;
	}

	.type-0 { background: #7AC74F; }
	.type-1 { background: #A1CF6B; }
	.type-2 { background: #D5D887; }
	.type-3 { background: #E0C879; }
	.type-4 { background: #E87461; }
	.type-5 { background: #9FDEC6; }
	.type-6 { background: #73CC81; }
	.type-7 { background: #DAE871; }
	.type-8 { background: #687944; }
	.type-9 { background: #99B6A4; }


.container2 {
	width: 1026px;
	margin: 0 auto;
	position: relative;
	margin-top: 20px;
}



